@font-face {
  font-family: "Burbank";
  src: local("Burbank"), url("./button-font.otf") format("opentype");
}

.landing-button {
  height: 100%;
  width: 100%;
  border: 0px;
  background-color: #fdfd00;
  color: black;
  font-size: 1.7rem;
  font-weight: bold;
  font-family: Burbank;
}

.landing-button-text {
  color: black;
  font-size: 1.7rem;
  font-weight: bold;
  font-family: Burbank;
}

.fortnite-logo {
  object-fit: contain;
  width: 100%;
}

.spacer {
  height: 30vh;
}
